*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --main-color: #78cc60;
    --secondary-color: #5f85db;
    --text-color: #f6f4f0;
    --bg-color: #222222;
    --body-bg-color: #2d2d33;
    --border-color: #303030;
    --gradient-start: rgb(26, 26, 26);
    --gradient-end: #0c0c0c;
    --bg-gradient-start: #2d2f31;
    --bg-gradient-end: #272a2e;
}
body{
    color: var(--text-color);
    background-image: linear-gradient(120deg, var(--bg-gradient-start), var(--bg-gradient-end)) !important;
    background-attachment: fixed;
}
.bg-gradient{
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
}
.main-container{
    max-width: 1320px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 425px 1fr;
    grid-gap: 10px;
    align-items: flex-start;
}
.menu-profile{
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-gap: 10px;
}
header{
    position: relative;
    z-index: 2;
}
header,
header ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header ul{
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
    padding: 10px 5px;
    border-radius: 30px;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
}
header ul li a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: 1.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    position: relative;
    transition: all ease 0.2s;
}
header ul li a::after{
    content: attr(data-label);
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translateY(-50%);
    white-space: nowrap;
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
header ul li a::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 5px 0px;
    border-color: transparent var(--main-color) transparent transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
header ul li a:hover::before,
header ul li a:hover::after{
    opacity: 1;
    visibility: visible;
}
.dark-light-btn{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}
.dark-light-btn:hover,
header ul li a:hover{
    color: var(--main-color);
}
.profile-container{
    height: 100%;
    position: relative;
}
.user-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px 0px 30px 30px;

}
.user-profile-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    height: 100%;
}
.user-profile-img{
    width: 100%;
    height: 200px;
    display: flex;
    border-radius: 30px 0px 30px 30px;
    background-color: var(--text-color);
    overflow: hidden;
}
.user-profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.user-profile-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.user-profile-text span{
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.9rem;
}
.user-profile-text h1{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 0px;
}
.profile-social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
.profile-social-container a{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: var(--text-color);
    transition: all ease 0.3s;
}
.profile-social-container a:hover,
.user-profile-btns a:hover{
    color: var(--main-color);
}
.user-profile-btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    border-top: 1px solid var(--border-color);
    width: 100%;
}
.user-profile-btns a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    letter-spacing: 0.5px;
    font-weight: 500;
    transition: all ease 0.3s;
}
.user-profile-btns a:first-child{
    border-right: 1px solid var(--border-color);
}
.section-container{
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
}
.all-content{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    width: 100%;
    overflow: hidden;
}
#about-us{
    border-radius: 0px 30px 0px 0px;
    padding: 85px 50px;
}
#about-us h3{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.4rem;
}
#about-us h3 span{
    color: var(--main-color);
}